.grid{ 
    display: grid;
    grid-template-areas: "head head"
    "email email"
    "productive productive"
    "access access"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 500px 900px 400px 300px;
}

.header{ 
    grid-area: head;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;

}

.email{ 
    grid-area: email;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1280px;
    margin-bottom: 164px;
    
    
}
.email .email-input{ 
    padding: 80px;

}
.email .email-input h3{ 
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    color: #07043B;
    
}
.email .email-input p{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #07043B;
}

.productive{ 
    grid-area: productive;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;
    top: 164px;
    background-color: rgb(188, 231, 217);
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    
    
}
.avatar{ 
    border-radius: 50%;
    border-color: wheat;
    border-width: 5px;
    margin: 10px;
}

.avatar-div{ 
    box-shadow: 2px 2px rgba(73, 70, 70, 0.5);
    border: 1px solid rgba(73, 70, 70, 0.5);
    padding: 5%;
}

.ceo{ 
    position: relative;
    left: 145px;
}

.footer .logo-contacts .footer-logo { 
    opacity: 50%;
    filter: brightness(0) invert(1);
}

.access{ 
    grid-area: access;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    z-index: 5;
    background-color: rgb(73, 131, 219);
    color: beige;
    border: none;
    border: 10px;
    
}
.access .access-text{ 
    padding: 80px;
}
.access .fill-form{ 
    padding: 80px;
    margin: 10px;
    position: relative;
    top: 100px;
}

.footer{ 

    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    background-color: #07043B;
    color: aliceblue;
    align-content: center;
    justify-content: stretch;
    font-family: 'Open Sans', sans-serif;
    
}
.header .logo{ 
    width: 166px;
    height: 49px;
    margin-left: 80px;
    margin-top: 20px;
}
.header .nav{ 
    display: flex;
    font-size: 16px;
    list-style-type: none;
    justify-content: flex-end;
    gap: 50px;
    margin: 20px;
    line-height: 19px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.email .email-input button{ 
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    width: 200px;
    height: 40px;
    display: inline;
    position: relative;
    left: 350px;
    bottom: 20px;
    border: none;
    background-color: rgb(54, 111, 185);
    color: antiquewhite;
    border-radius: 5px;
}
svg{ 
    fill: white;
}

.email .email-input input{ 
    height: 40px;
    width: 320px;
    font-size: 14px;
    position: relative;
    top: 20px;
}

.logo-contacts, .about-us, .contact-us{ 
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 40px;
    gap: 20px;

}
.social{ 
    display: flex;
    list-style-type: none;
    margin: 40px;
    gap: 20px;
}
.productive .productivity-image img{ 
    width: 542px;
    height: 409px;
    padding: 80px;
    margin: 10px;
    position: relative;
    top: 50px;
}

.productive .productivity-image{ 
    background-image: url("fylo-landing-page-with-two-column-layout-master/images/illustration-2.svg");
    height: 500px;
    background-size: contain;
    margin: 10px;
    background-repeat: no-repeat;
}


.email .email-image img{ 
    width: 640px;
    height: 474px;
}

.email .email-image{ 
    padding: 80px;
    background-image: url("fylo-landing-page-with-two-column-layout-master/images/illustration-1.svg");
    background-size: contain;
}

.productive .productive-texts{ 
    padding: 80px;
    margin: 10px;
    color: rgb(8, 16, 124);
}

.productive .productive-texts p{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.productive .productive-texts h3{ 
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.access-text h1{ 
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.access-text p{ 
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}


.access .fill-form input{ 
    width: 480px;
    height: 48px;
    border: none;
}

.access .fill-form button{ 
    width: 200px;
    height: 48px;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 10px;
    background-color: #062e9c;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.access .fill-form button:active{ 
    background-color: rgb(192, 225, 247);
}

.access .fill-form button:hover{ 
    background-color: aquamarine;
}

.email .email-input button:active{ 
    background-color: rgb(192, 225, 247);
}

.email .email-inputbutton:hover{ 
    background-color: aquamarine;
}

input:active{ 
    border-color: red;
}

.fa-facebook:hover{ 
 color: rgb(0, 225, 255);
}

.fa-twitter:hover{ 
    color: rgb(0, 110, 255);
}

.fa-instagram:hover{ 
    color: indigo;
}

.fa{ 
    color: white;
}


@media only screen and (max-width: 900px) {
    .grid{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: stretch;
        align-content: stretch;
        align-items: stretch;
    }
    
    
    .header .logo{ 
        width: 166px;
        height: 49px;
        margin: 0%;
    }

    
    
    .ceo{ 
    position: relative;
    left: 50px;
}
    
    
    .header .nav{ 
    display: flex;
    font-size: 16px;
    list-style-type: none;
    justify-content: stretch;
    gap: 10px;
    line-height: 19px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    line-height: 19px;
}
    
    .header{ 
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0%;

}

    .email, .productive{ 
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
<<<<<<< HEAD
        flex-basis:100%;
=======
        flec-basis:100%;
>>>>>>> 6bc8e0b25b7457e09328050e926935f6a91c5c01
    }
    
    .productive{  
        background-color: rgb(188, 231, 217);
    }

    .footer, .access{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        

    }
    .access{ 
        gap: 0px;
    }
   
    .productivity-image{ 
        width: 100%;
    }
    .email-image img{ 
        width: 100%;
        height: 50px;
        position: relative;
        right: 70px;
        overflow: hidden;
    }
    .productivity-image img{ 
        width: 100%;
        height: 50px;
        position: relative;
        right: 80px;
        padding: 10%;
        overflow: hidden;
    }

    .email-image{ 
        background-image: url("fylo-landing-page-with-two-column-layout-master/images/illustration-1.svg");
        background-size: contain;
        height: 300px;
        background-repeat: no-repeat;
        
        
    }

    .productive .productivity-image{ 
        background-image: url("fylo-landing-page-with-two-column-layout-master/images/illustration-2.svg");
        background-size: contain;
        height: 300px;
    }

    .productive .productive-texts{ 
        position: relative;
        bottom: 80px;
        font-size: 14px;
    }

    .email .email-input input{ 
        width: 60%;
    }

    .email .email-input button{ 
        width: 60%;
        position: relative;
        top: 50px;
        left: 0px;
    }

    .access .fill-form button{ 
        position: absolute;
        bottom: 300px;
        left: 80px;
        display: inline;
        
    }

    .access .fill-form input{ 
<<<<<<< HEAD
        width: 60%;
=======
        width 60%;
>>>>>>> 6bc8e0b25b7457e09328050e926935f6a91c5c01
        position: relative;
        bottom: 200px;
        display: inline;
    }

    .access .fill-form input{ 
        width: 70%;
        position: relative;
        bottom: 200px;
        display: inline;
    }
}
